<ng-content *ngIf="!productsData; then loading; else data"></ng-content>

<ng-template #loading>
  <div class="loader"></div>
</ng-template>

<ng-template #data>
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        <div class="col mb-5" *ngFor="let ele of productsData">
          <div class="card h-100">
            <!-- Sale badge-->
            <div
              class="badge bg-dark text-white position-absolute"
              style="top: 0.5rem; right: 0.5rem"
            >
              Sale
            </div>
            <!-- Product image-->
            <img
              class="card-img-top"
              class="rounded float-left"
              class="center"
              src="{{ ele.productLink }}"
              alt="..."
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ ele.productName }}</h5>
                <!-- Product reviews-->
                <link
                  rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
                />

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span><br />
                <!-- Product price-->
                <span class="text-muted text-decoration-line-through"
                  >$20.00</span
                >
                ${{ ele.productPrice }}
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a
                  class="btn btn-outline-dark mt-auto"
                  [routerLink]="['/products/viewProduct', ele.id]"
                  >View Product</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-template>
<!-- code for another template -->

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">
                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                    <span class="product-price">
                        $10
                    </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>

                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->
